
.box{
    border-radius: 5px;
    background: aliceblue;
  }
  .box h1,.box h2,.box h3{
    text-align: center;
    font-size: 26px;
    color: #FFF;
    margin: 0 10px 0 10px;
    position: relative;
    top: -10px;
    border-radius: 5px;
    padding: 5px;
    font-family: cursive;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  .wrapper > h1{
   text-align: center;
    font-family: cursive;
   margin-bottom: 2.5em;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #795548, 0 0 30px #795548, 0 0 40px #795548, 0 0 55px #795548, 0 0 75px #795548, -40px -40px 0px rgba(28,110,164,0);
  }
  h1 span {
   color:#2196fd;
  }
  h1 span:nth-child(2){
   color:#fd5263;
  }
  h1 span:last-child{
   color:#7983f8;
  }
   .box{
    border: 1px solid #34c5e4;
  }
  .box:nth-child(2){
    border: 1px solid #f90;
  }
  .box:last-child{
    border: 1px solid #a7c;
  }
  .box h1{
    background:linear-gradient(38deg,#ff6da2,#7983f8);
  }
  .box h2{
    background:linear-gradient(38deg,#ffe74f,#fd5263);
  }
  .box h3{
    background:linear-gradient(38deg,#2196fd,#04ffb4);
  }
  
  .box .first {
    color:#a7c;
  }
  .box .second{
    color:#f90;
  }
  .box .third {
    color:#34c5e4;
  }
  /* .box span {
    display: block;
    text-align: center;
    color: #a7c;
    font-size: 20px;
    margin-bottom: 5px;
  } */
  
  
   .box{
    width: 400px;
   
  
    box-sizing: border-box;
    margin: 0 15px;
    margin-bottom: 5em;
    position: relative;
  }
   .box:after{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -10%;
    left: 5%;
    height: 20px;
    width: 90%;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  }
  .contents{
    text-align: justify !important;
    padding: 15px 15px !important;
    font-size: 15px !important;
  }
  .cardbg{
   box-shadow: 3px 3px 3px 3px black;
   background-color: #0b54a4;
   opacity: 0.9;
   border-radius: 10px;
   
  }
  
  