.box {
  box-sizing: border-box;
  margin: 0 15px;
  position: relative;
  border-radius: 5px;
  background: rgb(43, 96, 143);
  border:2px solid  red;
}

.box h3 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin: 0 10px 0 10px;
  position: relative;
  top: -10px;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: 2px solid blue;
 
  
}

.box h3 {
  background: linear-gradient(38deg, #2196fd, #04ffb4);
}

.contents {
  text-align: justify !important;
  padding: 15px 15px !important;
  font-size: 15px !important;
}

.cardbg {
  /* height: 250px; */
  border: none;
  box-shadow: 3px 5px 5px 3px black;
  background-color: #f0ffc2;
  opacity: 0.8;
  border-radius: 10px;
}

.category-bg {
  padding: 25px 0;
  margin: 0 10px;
}

.category-container {
  width: 90%;
  margin: 0 auto;
}

.category-title {
  text-decoration: none;
  color: black;
}
.jobcount{
  content: counter(my-awesome-counter);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: #fcd000;
  background: black;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 10px;
  font-size: 1.7rem;
  font-weight: bold;
}
