.cancel-button {
  background: rgb(207, 205, 205);
  border: none;
}

.cancel-button:hover {
  background: orangered;
  color: white;
  transition: all 1s;
}

.cross-sign {
  display: inline-block;
  position: relative;
  top: -20px;
  left: -17px;
}
