.jobcategory {
  color: brown;
}
.company {
  color: brown;
  font-size: 20px;
}

.filter-box {
  background-image: linear-gradient(
    to right,
    #97a7b6,
    #adb7c2,
    #adb7c2,
    #97a7b6
  );
  padding: 30px;
}
