.job-list-form input {
  width: 75%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 25px 0;
}

.job-list-article {
  border-bottom: 2px solid orange;
  position: relative;
  top: -90px;

  background-color: beige;
  color: rgb(10, 10, 10);
}

.jobcategory {
  color: brown;
}
.company {
  color: brown;
  font-size: 20px;
}

.filter-box {
  background-image: linear-gradient(
    to right,
    #97a7b6,
    #adb7c2,
    #adb7c2,
    #97a7b6
  );
  padding: 30px;
}
