.profile-sec {
  background: #faecec;
  opacity: 0.7;
  border-radius: 7px;
}

.add-job-btn {
  width: 18%;
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.add-job-btn:hover {
  background-color: black;
  color: brown;
}

.heart {
  font-size: 30px;
  color: orangered;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

.jobpost-form {
  background-color: rgb(206, 205, 205);
  border-radius: 7px;
}

.add-job input {
  line-height: 35px;
  background: #fcfcfc;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 5px;
}

.add-job select {
  height: 53px;
  background: #fcfcfc;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 5px;
}

.add-job textarea {
  background: #fcfcfc;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 5px;
}

/* .add-job form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.add-job form input,
textarea {
  width: 80%;
  line-height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px 0;
  padding-left: 11px;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */

.submit-btn {
  width: 30% !important;
  background-color: var(--color-primary-light) !important;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 19px;
}

.submit-btn:hover {
  background-color: brown !important;
  color: black;
}

@media (max-width: 576px) {
  .add-job form input {
    width: 100%;
  }

  .add-job textarea {
    width: 100%;
  }
}
