.nav-bg {
  height: 80px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: #537895;
  box-shadow: 5px 5px 10px rgb(175, 174, 174);
}
a.nav-link {
  padding: 7px 17px !important;
  font-size: 15px;
  color: #fff !important;
  border-radius: 3px;
  box-shadow: -2px 2px 5px 2px #4c4177;
  margin-right: 5px;
  transition: 0.3s;
}
a.nav-link:hover {
  background-color: lightsteelblue;
  box-shadow: 0 3px orangered;
  color: black !important;
}
