.dashboard-sec {
  border-radius: 10px;
}

.dashboard-details-div {
  display: grid;
  grid-template-columns: 20% 80%;
}
/* .dashboard-second-container {
  background-color: #a6a8a8;
} */

.dashboard {
  /* background-color: lavender !important; */
  font-size: 15px;
  color: black;
}

.dashboard-list li {
  cursor: pointer;
  list-style: none;
}

.dashboard-icons {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 700px) {
  .dashboard-details-div {
    display: flex;
    flex-direction: column;
    /* display: grid;
            grid-template-rows: repeat(2,1fr); */
  }
}
