
.dashboard-sec {
  min-height: 100vh;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #537890,
    #6b879d,
    #8197a9,
    #97a7b6,
    #adb7c2,
    #adb7c2,
    #adb7c2,
    #adb7c2,
    #97a7b6,
    #8197a9,
    #6b879d,
    #537890
  );
}
.dashboard-second-container{
  min-height: 100vh;
  
}

.dashboard-details-div {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100% !important;
}
/* .dashboard-second-container {
  background-color: #a6a8a8;
} */

.dashboard {
  /* background-color: lavender !important; */
  font-size: 15px;
  color: black;
}

.dashboard-list li {
  cursor: pointer;
  list-style: none;
}

.dashboard-icons {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
}

.dashboard-content {
  height: auto;
  width: 96%;
  border-radius: 10px;
  /* background-color: var(--color-primary-dark); */
}

@media (max-width: 700px) {
  .dashboard-details-div {
    display: flex;
    flex-direction: column;
    /* display: grid;
            grid-template-rows: repeat(2,1fr); */
  }
}
