.footer {
  background-image: linear-gradient(
    to right,
    #537890,
    #6b879d,
    #8197a9,
    #97a7b6,
    #adb7c2,
    #adb7c2,
    #adb7c2,
    #adb7c2,
    #97a7b6,
    #8197a9,
    #6b879d,
    #537890
  );
  border-radius: 0 45px;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  /* margin-bottom: -50px; */
}

.footer-card {
  background-color: #537890;
  opacity: 0.7;
  width: 80%;
  position: relative;
  top: -40px;
  margin: 0 auto;
  height: 160px;
  border-radius: 50px 0;
}

.footer-list a {
  display: block;
  color: black;
  font-size: 18px;
  transition: 0.3s;
  padding: 4px;
}

.footer-list a:hover {
  transform: translateX(10px);
}
footer h5 {
  font-size: 25px;
  margin-bottom: 15px;
}
footer .copyright {
  /* text-align: center; */
  padding: 20px;
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

.social_bg {
  padding: 0.5em 0.8em;
  margin: 5px;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
}

/* .facebook-bg {
  background: #105768;
}
.facebook-bg:hover {
  background: #1195f5;
}

.instagram-bg {
  background: radial-gradient(
    circle at 30% 107%,
    rgb(253, 244, 151) 0%,
    rgb(253, 244, 151) 5%,
    rgb(253, 89, 73) 45%,
    rgb(214, 36, 159) 60%,
    rgb(40, 90, 235) 90%
  );
}
.instagram-bg:hover {
  background: radial-gradient(
    circle at 20% 97%,
    rgb(253, 244, 151) 0%,
    rgb(253, 244, 151) 5%,
    rgb(253, 89, 73) 55%,
    rgb(214, 36, 159) 70%,
    rgb(40, 90, 235) 90%
  );
}

.youtube-bg {
  background: #ff0000a6;
}
.youtube-bg:hover {
  background: #ff0000;
} */

.footer .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.subscribe-field {
  font-size: 18px;
  display: block;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 75%;
  padding: 8px;
  background-color: rgb(221, 216, 216);
}

.subscribe-btn {
  width: 20%;
  background-color: #76c5ec;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 8px;
}
.animate-border {
  position: relative;
  display: block;
  width: 120px;
  height: 4px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #f5b02e;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #eef0ef;
  border-left-color: #eef0ef;
}

.animate-border.border-offwhite:after {
  border-right-color: #f7f9f8;
  border-left-color: #f7f9f8;
}

.footer-icon {
  color: #06ff00;
  font-size: 27px;
  margin: 7px 0;
}
