.button {
  /* background-color: var(--color-primary-dark); */
  background-image: linear-gradient(
    to right,
    #537890,
    #6b879d,
    #6b879d,
    #537890
  );
  border: none;
  font-size: 16px;
  color: black !important;
}

.browse-window {
  /* width: 90%; */
  margin: 0 auto;
  padding: 50px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    #97a7b6,
    #adb7c2,
    #adb7c2,
    #97a7b6
  );

  /* box-shadow: 3px 3px 3px 3px #537890; */
}

/* .container {
  width: 1200px;
  margin: 0 auto;
} */
